<body>
    <h1>About Me </h1>
    <h2>Introduction:</h2>
    <div class="vertikal-flex">
        <p>My Name is Sidharth Jaiswal. I was born on the 22nd of November 2001 and I'm 19 years old. Since 2018, I am currently in training in the 3rd year as a computer scientist EFZ specializing in application development at the Bénédict School Zurich.
            In order for me to successfully complete my training, this includes a 2-year internship (2020-2022). Therefore,I apply with great interest and pleasure to you for this internship.</p>
    </div>
    <h2>What I like to do</h2>
    <div class="vertikal-flex">
        <p>I enjoy working on the computer very much, because I am familiar with technology and programming. programming. Because of this, I can well imagine doing this as a profession. as a profession. In addition, I have experience with creating websites,
            as well as with Java, PHP, C++, CSS, JS, Angular and HTML. I am a reliable, independent and conscientious person. person. In addition, I am very sociable. </p>
    </div>
    <h2>Skills:</h2>
    <div class="vertikal-flex">
        <p>My skills include my knowledge of math, front-end, business, English, and general education. My advantages are in TypeScript, Confluence, Jira, Git, React, Node.js, MongoDB, Heroku and in creating full-stack web projects. When it comes to projects,
            I can point to good stamina, as well as long memory and good concentration. I am good with people and invent problem solving strategies.</p>
    </div>
    <a target="_blank" href="https://github.com/sidharthjaiswal">
        <fa-icon [icon]="faGithub" class=" fa-3x"></fa-icon>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/sidharth-jaiswal-0354a2193/">
        <fa-icon [icon]="faLinkedin" class=" fa-3x"></fa-icon>
    </a>
    <br>
    <button class="btn btn-danger" (click)="closeDialog()">Back</button>
    <img src="./profile.jpg" alt="CV photo" style="height: auto; width: auto;">
</body>