<body>
    <h2>Description:</h2>
    <div class="vertikal-flex">
        <p>This is a dynamic single-page-application. A Web App which creates a shoppingList, in which u can add your preferred listname, itemname and its quantity.</p>
    </div>
    <h2>Features:</h2>
    <div class="vertikal-flex">
        <p>This app featues the CRUD operations (Create, Read, Update, Delete). The lists which you see on the table is from a database, created in MongoDB. The database is read in a scrollable mat table. The creation and the editing of a list are in dialogs.
        </p>
    </div>
    <h2>Use of Technologies and Languages:</h2>
    <div class="vertikal-flex">
        <ul class="list-group">
            <li class="list-group-item ">Mongo DB</li>
            <li class="list-group-item  ">Express</li>
            <li class="list-group-item  ">Angular JS</li>
            <li class="list-group-item  ">Node.js</li>
            <li class="list-group-item  ">HTML5</li>
            <li class="list-group-item  ">CSS3</li>
            <li class="list-group-item  ">JS</li>
            <li class="list-group-item  ">Bootstrap</li>
            <li class="list-group-item  ">TypeScript</li>
        </ul>
    </div>
    <button class="btn btn-danger" (click)="closeDialog()">Back</button>
</body>