<div class="search-dialog">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="listName">
      <mat-header-cell *matHeaderCellDef> List Name </mat-header-cell>
      <mat-cell *matCellDef="let list"> {{list.listName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemName">
      <mat-header-cell *matHeaderCellDef> Item Name </mat-header-cell>
      <mat-cell *matCellDef="let list"> {{list.itemName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="itemQuantity">
      <mat-header-cell *matHeaderCellDef> Item Quantity </mat-header-cell>
      <mat-cell *matCellDef="let list"> {{list.itemQuantity}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button (click)="closeDialog()">Ok</button>
</div>