<h3>Edit Items of List</h3>
<div class="form-group">
    <label for="">
        ListName:
    </label>
    <input type="text" class="form-control" placeholder="{{data.listName}}">
</div>
<div class="form-group">
    <label for="">
        ItemName:
    </label>
    <input type="text" class="form-control" placeholder="{{data.itemName}}">
</div>

<div class="form-group">
    <label for="">
        ItemQuantity:
    </label>
    <input type="number" class="form-control" placeholder="{{data.itemQuantity}}">
</div>
<mat-dialog-actions>
    <button type="submit" [mat-dialog-close]="data" class="btn btn-success"
        (click)="editList( { value: {listName: data.listName, itemName: data.itemName, itemQuantity: data.itemQuantity, listDate: data.listDate } });">Save
    </button>
    <button class="btn btn-danger" (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>