@import 'https://bootswatch.com/4/flatly/bootstrap.min.css';


h1{
    text-align: center;
}
.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
form {
    width: 500px; margin: auto; 
    background-color: aqua;
    float: left;
}

.addListclass{
    float: left;
    
   
}
.showListclass{
    float: right;
   
}
input {
    border-color: black;
    width:100%;
    height: 25px;
     }

     table, th, td {
         
        padding: 10px;
      }

button{

 transform: translate(0px,35px);
}

table{
    table-layout: fixed;
    width: 100%;
    overflow: scroll;
}
  
  th, td {
    padding: 0px;
   
  }
  .main {
    width:4000px;
    height:1000px;
   
    overflow: scroll;
    padding: 1% 0 0 1%;
}

.table2{
    border: 1px solid black;
    background-color: brown;
    width: 50%;
    overflow: scroll;
    overflow-y:scroll;
    overflow-x:hidden;
 
}

.sub {
    height:100px;
    width:15%;
    display:inline-block;
    float: left;
    
}


